:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: darkblue;
}
a:hover {
  color: darkblue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.card {
  flex: 0 0 calc(33.33% - 30px);
  margin: 0 15px 30px;
  border: 1px solid black;
  border-radius: 64px;
  overflow: hidden;
  flex-direction: column;
}

.card-img img {
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

